@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');
html body {
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica;
    max-width: 1170px;
    margin: auto;
    }
.section1 {
    height: 780px;
    background-image: url("../images/background.png");
    background-color: green;
}
.section1 .art {
    position: relative;
    top: 335px;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    color: #ffffff;
}